In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)

ModuleNotFoundError: No module named 'numpy'

In [ ]:
df = pd.read_csv('laptop_data.csv')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.duplicated().sum()

checking for duplicate rows : take all duplicate rows and count it
here result is 0
no no dupliate rows

In [ ]:
df.isnull().sum()

* checking for null values : take all null values and sum it
*  here all are 0
* so no null values are found

In [ ]:
df.drop(columns=['Unnamed: 0'],inplace=True)

* here we are removing the column 'Unnamed:0' because it has no use

In [ ]:
df.head()

* removed gb and kg strings in all rows as we needed to convert to numerical values

In [ ]:
df['Ram'] = df['Ram'].str.replace('GB','')
df['Weight'] = df['Weight'].str.replace('kg','')

In [ ]:
df.head()

In [ ]:
df['Ram'] = df['Ram'].astype('int32')
df['Weight'] = df['Weight'].astype('float32')

* after removing those gb from ram and kb from weight
* we needed to change it to int and float

In [ ]:
df.info()

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(df['Price'])

* distplot : it gives us the distribution of the data
* here price is our output value so we are checking the data distrubution
* obersvation : here we are observed right skew
* if skew is observed that means our data having outlier
* outlier means some rows or values have high values rarely which effects our model decison making
* so we needed to take care of that while training the model

In [ ]:
df['Company'].value_counts().plot(kind='bar')

In [ ]:
sns.barplot(x=df['Company'],y=df['Price'])
plt.xticks(rotation='vertical')
plt.show()

* doing bivariate analysis : comparing two features to see whether relation exists or not
* observation : if we pick any company laptop our price is increased based no company

In [ ]:
df['TypeName'].value_counts().plot(kind='bar')

In [ ]:
sns.barplot(x=df['TypeName'],y=df['Price'])
plt.xticks(rotation='vertical')
plt.show()

* workstation is more costly than the other type of laptop models
* the second most is gaming
* picking type of laptop will effect it's price

In [ ]:
sns.distplot(df['Inches'])

* checking distrubution among inches
* observation : mostly we are having between 15 - 16 inches
* second mostly we are having 13 - 14 inches

In [ ]:
sns.scatterplot(x=df['Inches'],y=df['Price'])

* scatterplot : relation between two variables in a dataset
* here there is not much change as mostly even 14 - 16 inches are saming prices
* even 16-18 having same prices only few having higher prices indivudially
* so less corrleation with price

In [ ]:
df['ScreenResolution'].value_counts()

* here this column contains lot's of data combined
* so splitting into these categories
* 1) screen resolution : 2400 * 1260
* 2) Touch Screen
* 3) ips panel
* so we are using feature engineering technique called feature split
* feature spilt : split the feature to sub features for understand more valuable insights

In [ ]:
df['Touchscreen'] = df['ScreenResolution'].apply(lambda x:1 if 'Touchscreen' in x else 0)

In [ ]:
df.sample(5)

In [ ]:
df['Touchscreen'].value_counts().plot(kind='bar')

In [ ]:
sns.barplot(x=df['Touchscreen'],y=df['Price'])

* touch screen laptops are more costly than non touch screen ones

In [ ]:
df['Ips'] = df['ScreenResolution'].apply(lambda x:1 if 'IPS' in x else 0)

In [ ]:
df.head()

In [ ]:
df['Ips'].value_counts().plot(kind='bar')

In [ ]:
sns.barplot(x=df['Ips'],y=df['Price'])

* ips ones are more costly than non ips ones

In [ ]:
new = df['ScreenResolution'].str.split('x',n=1,expand=True)

In [ ]:
df['X_res'] = new[0]
df['Y_res'] = new[1]

In [ ]:
df.sample(5)

In [ ]:
df['X_res'] = df['X_res'].str.replace(',','').str.findall(r'(\d+\.?\d+)').apply(lambda x:x[0])

In [ ]:
df.head()

* splitting x_res and y_res into seperate as both are predictor for price increase or decrease

In [ ]:
df['X_res'] = df['X_res'].astype('int')
df['Y_res'] = df['Y_res'].astype('int')

In [ ]:
df.info()

In [ ]:
df.corr()['Price']

* corr : it is used to check correlation among attributes
* Perfect: 0.80 to 1.00
* Strong: 0.50 to 0.79
* Moderate: 0.30 to 0.49
* Weak: 0.00 to 0.29

* observations
* ram having more correlation
* xres,yres having more correlation
* here xres,yres are collinear : so we can keep one
* but ppi : inches per pixel : gives more accurate
* ppi : square root (x^2 + y^2) / inches
* take that as column


---

In [ ]:
df['ppi'] = (((df['X_res']**2) + (df['Y_res']**2))**0.5/df['Inches']).astype('float')

In [ ]:
df.corr()['Price']

In [ ]:
df.drop(columns=['ScreenResolution'],inplace=True)

In [ ]:
df.head()

In [ ]:
df.drop(columns=['Inches','X_res','Y_res'],inplace=True)

In [ ]:
df.head()

In [ ]:
df['Cpu'].value_counts()

In [ ]:
df['Cpu Name'] = df['Cpu'].apply(lambda x:" ".join(x.split()[0:3]))

In [ ]:
df.head()

In [ ]:
def fetch_processor(text):
    if text == 'Intel Core i7' or text == 'Intel Core i5' or text == 'Intel Core i3':
        return text
    else:
        if text.split()[0] == 'Intel':
            return 'Other Intel Processor'
        else:
            return 'AMD Processor'

In [ ]:
df['Cpu brand'] = df['Cpu Name'].apply(fetch_processor)

In [ ]:
df.head()

In [ ]:
df['Cpu brand'].value_counts().plot(kind='bar')

In [ ]:
sns.barplot(x=df['Cpu brand'],y=df['Price'])
plt.xticks(rotation='vertical')
plt.show()

* here no big difference between : amd,intel core i3 , othe processor
* mainly price difference is between i5 and i7

In [ ]:
df.drop(columns=['Cpu','Cpu Name'],inplace=True)

In [ ]:
df.head()

In [ ]:
df['Ram'].value_counts().plot(kind='bar')

In [ ]:
sns.barplot(x=df['Ram'],y=df['Price'])
plt.xticks(rotation='vertical')
plt.show()

* having linear relation ship : so more correlation
* bigger the size bigger the price
* corr nearly having 0.74

In [ ]:
df['Memory'].value_counts()

In [ ]:
df['Memory'] = df['Memory'].astype(str).replace('\.0', '', regex=True)
df["Memory"] = df["Memory"].str.replace('GB', '')
df["Memory"] = df["Memory"].str.replace('TB', '000')
new = df["Memory"].str.split("+", n = 1, expand = True)

df["first"]= new[0]
df["first"]=df["first"].str.strip()

df["second"]= new[1]

df["Layer1HDD"] = df["first"].apply(lambda x: 1 if "HDD" in x else 0)
df["Layer1SSD"] = df["first"].apply(lambda x: 1 if "SSD" in x else 0)
df["Layer1Hybrid"] = df["first"].apply(lambda x: 1 if "Hybrid" in x else 0)
df["Layer1Flash_Storage"] = df["first"].apply(lambda x: 1 if "Flash Storage" in x else 0)

df['first'] = df['first'].str.replace(r'\D', '')

df["second"].fillna("0", inplace = True)

df["Layer2HDD"] = df["second"].apply(lambda x: 1 if "HDD" in x else 0)
df["Layer2SSD"] = df["second"].apply(lambda x: 1 if "SSD" in x else 0)
df["Layer2Hybrid"] = df["second"].apply(lambda x: 1 if "Hybrid" in x else 0)
df["Layer2Flash_Storage"] = df["second"].apply(lambda x: 1 if "Flash Storage" in x else 0)

df['second'] = df['second'].str.replace(r'\D', '')

df["first"] = df["first"].astype(int)
df["second"] = df["second"].astype(int)

df["HDD"]=(df["first"]*df["Layer1HDD"]+df["second"]*df["Layer2HDD"])
df["SSD"]=(df["first"]*df["Layer1SSD"]+df["second"]*df["Layer2SSD"])
df["Hybrid"]=(df["first"]*df["Layer1Hybrid"]+df["second"]*df["Layer2Hybrid"])
df["Flash_Storage"]=(df["first"]*df["Layer1Flash_Storage"]+df["second"]*df["Layer2Flash_Storage"])

df.drop(columns=['first', 'second', 'Layer1HDD', 'Layer1SSD', 'Layer1Hybrid',
       'Layer1Flash_Storage', 'Layer2HDD', 'Layer2SSD', 'Layer2Hybrid',
       'Layer2Flash_Storage'],inplace=True)

* feature split : making memory column to more column
* hdd
* sdd
* flash storage
* hybrid
* if rows having any of these it have value like 256 if not 0

In [ ]:
df.sample(5)

In [ ]:
df.drop(columns=['Memory'],inplace=True)

In [ ]:
df.head()

In [ ]:
df.corr()['Price']

* sdd having huge relation
* remove hybrid and flash storage (-ve correlation)

In [ ]:
df.drop(columns=['Hybrid','Flash_Storage'],inplace=True)

In [ ]:
df.head()

In [ ]:
df['Gpu'].value_counts()

In [ ]:
df['Gpu brand'] = df['Gpu'].apply(lambda x:x.split()[0])

* split based on the brand like intel or amd
* split the array by space
* collect the first value s[0]

In [ ]:
df.head()

In [ ]:
df['Gpu brand'].value_counts()

In [ ]:
df = df[df['Gpu brand'] != 'ARM']

* remove arm because of the having one row

In [ ]:
df['Gpu brand'].value_counts()

In [ ]:
sns.barplot(x=df['Gpu brand'],y=df['Price'],estimator=np.median)
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
df.drop(columns=['Gpu'],inplace=True)

In [ ]:
df.head()

In [ ]:
df['OpSys'].value_counts()

In [ ]:
sns.barplot(x=df['OpSys'],y=df['Price'])
plt.xticks(rotation='vertical')
plt.show()

* mainly macos and windows are primary price predictiors
* so based on that make them into 3 operating systems

In [ ]:
def cat_os(inp):
    if inp == 'Windows 10' or inp == 'Windows 7' or inp == 'Windows 10 S':
        return 'Windows'
    elif inp == 'macOS' or inp == 'Mac OS X':
        return 'Mac'
    else:
        return 'Others/No OS/Linux'

In [ ]:
df['os'] = df['OpSys'].apply(cat_os)

In [ ]:
df.head()

In [ ]:
df.drop(columns=['OpSys'],inplace=True)

In [ ]:
sns.barplot(x=df['os'],y=df['Price'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
sns.distplot(df['Weight'])

* we can't idenfity any relation only figured out the maximum weights are in between 2 and 3

In [ ]:
sns.scatterplot(x=df['Weight'],y=df['Price'])

* we don't see much diff respectively so it have less correlation

In [ ]:
df.corr()['Price']

In [ ]:
sns.heatmap(df.corr())

* heatmap : it gives all relation with each other in 2d matrix
* observations
* ram and price
* ssd and ram
* hdd and weight
* touch screen and ppi
correlaton among each variable with each other

In [ ]:
sns.distplot(np.log(df['Price']))

* as we having right skewed apply log transormation  of price and remove the original price
* it is having normal distrubution on order to make model predict higher

In [ ]:
X = df.drop(columns=['Price'])
y = np.log(df['Price'])

In [ ]:
X

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.15,random_state=2)

In [ ]:
X_train

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import r2_score,mean_absolute_error

### Linear regression

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import numpy as np


step1 = ColumnTransformer(transformers=[
    ('col_tnf', OneHotEncoder(sparse=False, drop='first'), [0, 1, 7, 10, 11])
], remainder='passthrough')

step2 = LinearRegression()

pipe = Pipeline([
    ('step1', step1),
    ('step2', step2)
])

pipe.fit(X_train, y_train)

y_pred = pipe.predict(X_test)

r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print('R2 score:', r2)
print('MAE:', mae)
print('RMSE:', rmse)

* one hot encoder : make cateogrical to numerical values
* mentioned the caterogical rows
* use pipes
* take all values of step1 (apply hot encoder) and pass the value to  step2 liear regressor

# lasso regression

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import Lasso
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import numpy as np

step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),[0,1,7,10,11])
],remainder='passthrough')

step2 = Lasso(alpha=0.001)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print('R2 score:', r2_score(y_test, y_pred))
print('MAE:', mean_absolute_error(y_test, y_pred))
print('RMSE:', rmse)

# ridge regression

In [ ]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
import numpy as np

step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),[0,1,7,10,11])
],remainder='passthrough')

step2 = Lasso(alpha=0.001)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print('R2 score:', r2_score(y_test, y_pred))
print('MAE:', mean_absolute_error(y_test, y_pred))
print('RMSE:', rmse)

### Decision Tree

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import numpy as np


step1 = ColumnTransformer(transformers=[
    ('col_tnf', OneHotEncoder(sparse=False, drop='first'), [0, 1, 7, 10, 11])
], remainder='passthrough')

step2 = DecisionTreeRegressor(max_depth=8)

pipe = Pipeline([
    ('step1', step1),
    ('step2', step2)
])

pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

print('R2 score:', r2_score(y_test, y_pred))
print('MAE:', mean_absolute_error(y_test, y_pred))
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print('RMSE:', rmse)

# polynomial Regression

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

degree = 2

step1_poly = ColumnTransformer(transformers=[
    ('col_tnf', OneHotEncoder(sparse=False, drop='first'), [0, 1, 7, 10, 11]),
    ('poly', PolynomialFeatures(degree=degree, include_bias=False), [2, 3])
], remainder='passthrough')

step2_poly = LinearRegression()

poly_pipe = Pipeline([
    ('step1', step1_poly),
    ('step2', step2_poly)
])

poly_pipe.fit(X_train, y_train)

y_pred_poly = poly_pipe.predict(X_test)

r2_poly = r2_score(y_test, y_pred_poly)
mae_poly = mean_absolute_error(y_test, y_pred_poly)
rmse_poly = np.sqrt(mean_squared_error(y_test, y_pred_poly))

print('Polynomial Regression - R2 score:', r2_poly)
print('Polynomial Regression - MAE:', mae_poly)
print('Polynomial Regression - RMSE:', rmse_poly)

In [ ]:
df.sample(5)

### Random Forest

In [ ]:
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import r2_score, mean_absolute_error

step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),[0,1,7,10,11])
],remainder='passthrough')

step2 = RandomForestRegressor(n_estimators=100,
                              random_state=3,
                              max_samples=0.5,
                              max_features=0.5,
                              max_depth=10)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print('R2 score:', r2)
print('MAE:', mae)
print('RMSE:', rmse)

In [ ]:
import pickle

pickle.dump(df,open('df.pkl','wb'))
pickle.dump(pipe,open('pipe.pkl','wb'))